 /*Base Styles*/
 body{
 	padding-top:100px;
 }
  li{
 	list-style: none;
 }
  a{
 	text-decoration: none;
 	color: black;
 }
 p,.intro,.contact{
 	width:495px;
 }
 section{
 	margin-top:20px;
 }

 /*Typography*/
 h1,h2,h4,p,a{
	font-family:'Lato', sans-serif;
	opacity: 0;
	-webkit-animation: appear 1s ease-out forwards;
	-moz-animation: appear 1s ease-out forwards;
	-o-animation: appear 1s ease-out forwards;
	animation: appear 1s ease-out forwards;
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;

 }
 h1,h2,h4{
 	font-weight:400;
 }
 h1{
 	font-size:3em;
 }
 h2{
 	font-size:1rem;
 	line-height:1.5;
 }

 p{
	font-size:1rem;
	line-height:1.5;
	 opacity: 0;
	-webkit-animation: appear 1s ease-out forwards;
	-moz-animation: appear 1s ease-out forwards;
	-o-animation: appear 1s ease-out forwards;
	animation: appear 1s ease-out forwards;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
 }
 /*Navigation*/
 .nav{
 	margin-right:20px;
 	 }
 .nav li{
 	padding:10px;
 }
 /*Content*/
 .container-nav{
 	display:flex;
 	justify-content:center;
 }
 .container{
 	display:flex;
 	flex-direction:column;
 	align-items:baseline;
 	margin-left:30px;
 }
 .intro{
 	height:400px;
 }
 .social{
 	height:40px;
 }

.contact, .last{
 	text-align:center;
 }
 .button{
 	border:1px solid black;
 	background:#000;
 	color:#fff;
 	padding:10px 10px;
 	display:inline-block;
 	margin-top:10px;

 }

 /*Images*/
 .image{
 	width:750px;
 	height:453px;
 	margin:90px 0px 90px 0px;
 	box-shadow:0 0 4px 1px rgba(0, 0, 0, 0.2);
 }
/* Animations */

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 /*Media Queries*/