 /*Base Styles*/
  li{
 	list-style: none;
 }
  a{
 	text-decoration: none;
 }

 /*Typography*/
 h1,h2,p{
 	font-family:'Lato', sans-serif;
 }
 h1{
 	font-weight:400;
 	font-size:3em;
 }
 h2{
 	font-weight:400;
 	font-size:1rem;
 	line-height:1.5;
 }
 p{
 	font-size:1rem;
 	line-height:1.5;
 	width:495px;
 }
 /*Navigation*/
 .nav{
 	margin-right:20px;
 }
 .nav li{
 	padding:10px;
 }
 /*Content*/
 .container-nav{
 	display:flex;
 }
 .container{
 	display:flex;
 	flex-direction:column;
 	align-items:baseline;
 }
 footer{
 	text-align:center;
 }
 /*Images*/
 .image{
 	width:750px;
 	height:453px;
 }

 /*Media Queries*/